#loading-container{
    margin: 200px;
    margin-left: 50px;
    padding: 50px;
}

#question-container{
    display: none;
    margin: 200px;
    margin-left: 50px;
    padding: 50px;
}
#submission-form{
    display: none;
    margin: 200px;
    margin-left: 50px;
    padding: 50px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background: purple;
}

.opt{
    margin: 10%;
}

#submit-btn{
    margin: 8px;
}